<link href="~/Content/compression.css" rel="stylesheet" />
@{
    ViewBag.Title = "Kompresja";
}

<div class="form-group space compression">
    <label>Kompresja</label>
    <textarea class="form-control textarea" rows="8" placeholder="Wpisz tekst do kompresji"></textarea>
</div>
<div class="buttons">
    <button type="button" class="btn btn-primary comp">Kompresuj </button>
    <button type="button" class="btn btn-primary decomp">Dekompresuj</button>
</div>
<div class="form-group decompression">
    <label>Dekompresja</label>
    <textarea class="form-control textarea" rows="8" placeholder="Wpisz tekst do dekompresji"></textarea>
</div>

